.modal {
    position: fixed;
    background: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal img { width: 50vh; }

.modal.hide { display: none; }

.modal.show { display: flex; }



.exit:before {
    content: ' ';
    height: 3px;
    width: 44px;
    background: white;
    position: fixed;
    top: 30px;
    right: 32px;
    transform: rotate(-45deg);
}
.exit:after {
    content: ' ';
    height: 3px;
    width: 44px;
    background: white;
    position: fixed;
    top: 30px;
    right: 32px;
    transform: rotate(45deg);
}
.exit  {
    background: transparent !important;
    position: fixed;
    top: 5px;
    right: 32px;
    width: 60px;
    height: 60px;
}