.modal {
    position: fixed;
    background: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    
}

.modal img {  height: auto; width: 80vw; }

.modal.hide { visibility: hidden;transition: all 2s; }

.modal.show { visibility: visible;transition: all 2s; }



.exit:before {
    content: ' ';
    height: 3px;
    width: 44px;
    background: white;
    position: fixed;
    top: 30px;
    right: 32px;
    transform: rotate(-45deg);
}
.exit:after {
    content: ' ';
    height: 3px;
    width: 44px;
    background: white;
    position: fixed;
    top: 30px;
    right: 32px;
    transform: rotate(45deg);
}
.exit  {
    background: transparent !important;
    position: fixed;
    top: 5px;
    right: 32px;
    width: 60px;
    height: 60px;
}
  
@media (min-width: 768px) { 
.modal img {  
    height: 67vh; 
    width: auto; 
}
}