body,html {
  height: 100vh;
  width: 100%;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  box-sizing: content-box;
}
body {
  background:url(../assets/softvu-logo-bg-v2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: backgroundScroll 30s infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 30s infinite alternate;
  animation-fill-mode: forwards;
}
.App-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 200px 100px; }
  100% { background-position: -100px 200px; }
}
@-webkit-keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 200px 100px; }
  100% { background-position: -100px 200px; }
} 


.App-logo {
  width: 50px;
  align-self: flex-start;
}
h1 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.6;
  color: #33699a;
}
p {
  color: #33699a;
  font-size: 16px;
  line-height: 1.5;
}
#nav {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 25px;
  height: 100px;
  width: 100%;
  background: #fff;
  z-index: 100;
  cursor: pointer;
}
#nav h2 {
  color: #555;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.arrow-icon {
  margin: 40px auto 0 auto;
  width: 50px;
}
/* Navigation */
.nav-icon-container {
  display: none;
}
/*Email View */
.view-email {
  display: flex;
  flex-direction: column;
}
.email-mockup {
  display: block;
  width: 50vw;
  max-width: 400px;
  margin: 20px auto;
}
.view-description{
  text-align: left;
  width: 100%;
}
.hamburger-menu .line {
  height: 4px;
  background: #444;
  width: 40px;
  margin-bottom: 6px;
}
.hamburger-menu {
  position: absolute;
  right: 23px;
  top: 24px;
  cursor: pointer;
}
.menu {
  background: rgba(255,255,255, 0.9);
  padding: 15px 10px 30px 10px;
}
.menu p {
  margin: 0 -10px;
  padding: 10px 0;
  cursor: pointer;
}
.menu p:hover {
  color: #33699a;
  font-size: 16px;
}
.animation-project {
  max-width: 500px;
}
.tooltip {
  display: none;
}
#view {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}
#view.view-email {
  flex-direction: column;
  justify-content: center;
}
.expirement-mockup {
  width: 60vw;
}
.page-content {
  margin-top: 60px;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
  #nav {
    display: block;
    position: fixed;
    left: 0;
    height: 100vh;
    width: auto;
    padding-bottom: 25px;
    background: #fff;
    -webkit-box-shadow: 60px 0px 10px #bac8d3;
    -moz-box-shadow: 0px 0px 10px #bac8d3;
    box-shadow: 0px 0px 10px #bac8d3;
  }
  #nav h2 {
    margin-bottom: 40px;
  }
  .App-header {
    padding: 0 40px 0 200px;
    justify-content: center;
  }
  .nav-icon-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .nav-icon {
    height: 35px;
    padding: 20px 50px;
    fill: #666;
    transition: all 1 ease;
  }
  .nav-icon:hover {
    fill: #ff7a2c;
  }
  .view-email {
      flex-direction: row;
  }
  .view-description{
    width: 40vw;
    padding-left: 60px;
  }
  .email-mockup {
    width: 25vw;
    margin: 0;
  }
  .view-project {
    width: 32vw;
  }
  .expirement-mockup {
    width: 30vw;
    -webkit-box-shadow: 6px 9px 38px -15px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 9px 38px -15px rgba(0,0,0,0.52);
    box-shadow: 6px 9px 38px -15px rgba(0,0,0,0.52);
    margin: 0;
  }
  .page-content {
    margin-left: 180px;
  }
  .hamburger-menu, .menu {
    display: none;
  }
  .about-content {
    width: 70vw;
  }
  .nav-icon:hover + .tooltip{
      display: block;
  }
  .tooltip {
    height: 0;
    width: 0;
  }

  .tooltip-text {
      color: #666;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      padding: 5px 10px;
      border: 1px solid #666;
      display: block;
      text-align: center;
      width: 120px;
      border-radius: 3px;
      background: rgba(255,255,255,0.9);
      position: relative;
      left: 100px;
      top: -30px;
  }
  #view {
    width: 100vw;
  }
  #view.view-email {
    flex-direction: row;
    justify-content: center;
  }
  .page-content {
    margin-top: 0;
  }
  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

