#view-about {
  background: #5f2c82; 
  height: 100vh;
  background: linear-gradient(to right, #49a09d, #5f2c82); 
  .about-content { margin-top: 10vh;}
  h1 { color: #fff; }
  p { color: #fff; }
}


@media (min-width: 768px) {
  #view-about {
    .about-content{
      width: 70vw;
      border-left: 6px solid #ffff;
      padding-left: 32px;
      margin-top: 0;
      h1 {
        font-size: 59px;
        margin-bottom: 25px;
      }
    }
  }
    
}