$color-navyblue: #33699a;
$color-lightgray: #f4f4f4;
$color-orange: #ff7a2c;

$color-fresh: #5dbcad;
$color-vermillion: #ea4800;
$color-sunshine: #f2b603;


$theme-color-primary: $color-lightgray;
$theme-color-secondary: $color-lightgray;
$theme-color-accent: $color-navyblue;
