/* View */
.view {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding: 0 32px;
  }
  .email-mockup {
    display: block;
    width: 50vw;
    max-width: 400px;
    margin: 20px auto;
  }
  .view-description{
    width: 100%;
  }
  .animation-project {
    max-width: 500px;
  }
  .mockup-experiment {
    width: 60vw;
  }
  .view-mockups img {
    position: relative;
    width: 74vw;
    z-index: 1;
    transition: all .5s;
  }
  .scroll-down {
    position: absolute;
    color: #fff;
    left: 0;
    z-index: 100;
    bottom: 33px;
    letter-spacing: 8px;
    font-size: 20px;
    font-weight: 300;
    -webkit-animation: strobeText 1s infinite alternate;
    animation: strobeText 1s infinite alternate;
    margin: 0 auto;
    right: 0;
    width: 324px;
    text-align: center;
  }

  #view-landingpage  {
    .view-description { order: 2; }
    .view-mockups { order: 1; }
    @media (min-width: 768px) { 
      .view-description { order: 1; }
      .view-mockups { order: 2; }
    }
  }
  
  
  @media (min-width: 768px) {
    /* View */
    .view {
      flex-direction: row;
      margin-top: 0;
      justify-content: center;
    }
    .view-description{
      width: 42%;
      padding-left: 96px;
    }
    .view-mockups {
      width: 35%;
    }
    #view-landingpage .view-mockups {
      width: 40%;
    }
    #view-landingpage .view-description {
      padding-left: 0;
      padding-right: 50px;
    }
    .email-mockup {
      width: 25vw;
      margin: 0;
    }
    
    .mockup-experiment {
      width: 25vw !important;
      box-shadow: 10px 10px 72px -19px rgba(0,0,0,0.62);
      margin: 0;
    }
    img.mockup-desktop{
      position: relative;
      width: 100%;
      z-index: 1;
      transition: all .5s;
      transform-style: preserve-3d;
      &:hover { z-index: 4; transform: rotateY(10deg);}
    }
    img.mockup-mobile {
        position: relative;
        width: 40%;
        z-index: 2;
        left: -100px;
        top: 51px;
        transition: all .5s;
        box-shadow: 10px 10px 72px -19px rgba(0,0,0,0.62);
    }
    
    }